<!-- wp:cover {"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","isDark":false,"className":"is-style-browser-frame"} -->
<div class="wp-block-cover is-light is-style-browser-frame" style="min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px","padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"className":"entry-content is-style-is-browser-frame","layout":{"type":"constrained"}} -->
	<main class="wp-block-group entry-content is-style-is-browser-frame" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:group {"align":"wide"} -->
	<div class="wp-block-group alignwide"><!-- wp:create-block/wasm-demo /--></div>
	<!-- /wp:group --></main>
	<!-- /wp:group -->

	<!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
	<p class="has-text-align-center has-large-font-size"></p>
	<!-- /wp:paragraph --></div></div>
	<!-- /wp:cover -->