/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

html {
	--wp-global-header-height: 0px !important;
}

@mixin default-font {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 600;
}

.wporg-demo-browser {
	background-color: #fff;
	border-radius: 4px;
	display: flex;
    flex: 1;
    flex-direction: column;
	height: calc( 100vh - var(--wp--preset--spacing--60) * 2 - 30px);
	min-height: 80vh;
	
	iframe {
		border: none;
		flex-grow: 1
	}

	.wporg-demo__settings-button {
		color: #FFF !important;
	}

	animation: pulse 6s ease-in infinite;
}

@keyframes pulse {
  0% {
	box-shadow: 0 4px 44px rgba(13, 32, 117, 0.5), 0 0 0 0 rgba(13, 32, 117, 0.5);
  }
  50% {
	box-shadow: 0 4px 44px rgba(13, 32, 117, 0.5), 0 0 88px 5px rgba(13, 32, 117, 0.5);
  }
  100% {
	box-shadow: 0 4px 44px rgba(13, 32, 117, 0.5), 0 0 0 0 rgba(13, 32, 117, 0.5);
  }
}

.wp-block-create-block-wasm-demo,
.wp-block-create-block-wasm-demo * {
	box-sizing: border-box;
}

.wporg-tab-item-list {
	list-style: none;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	.wporg-tab-item-list-item {
		cursor: pointer;

		a {
			color: #1e1e1e;
			line-height: 14px;
			text-decoration: none;
		}
	
		.wporg-tab-item-list__item-name {
			@include default-font;
	
			background: hsla(0,0%,100%,.65);
			color: var(--wp--preset--color--charcoal-1);
			font-size: 14px;
			font-weight: 400;
			margin: 0;
			overflow: hidden;
			padding: 8px 0;
		}

		&.is-active {
			.wporg-tab-item-list__item-name {
				color: var(--wp--preset--color--charcoal-1);
			}
			img {
				outline-color: var(--wp--preset--color--charcoal-1);
			}
		}

		&:hover {
			a {
				text-decoration-color: var(--wp--preset--color--blueberry-1);
			}
			.wporg-tab-item-list__item-name {
				color: var(--wp--preset--color--blueberry-1);
			}
			img {
				outline-color: var(--wp--preset--color--blueberry-1);
			}
		}
	}

	&.is-theme {
		.wporg-tab-item-list-item {
			position: relative;
			border-radius: 2px;
			cursor: pointer;
			transition: outline-color ease-in 0.1s;
	
			width: 200px;
			@media screen and (max-width: 600px) {
				width: 150px;
			}
			flex-grow: 1;
		}

		/* A CSS hack to grow all flexbox lines but the last one*/
		&:after {
			content: "";
			flex: 1 0 200px;
			visibility: hidden;
		}
		
		.wporg-tab-item-list__theme-thumbnail-wrapper {
			width: 100%;
			aspect-ratio: 195/146;
		}

		.wporg-tab-item-list__theme-thumbnail {
			position: relative;
			width: 100%;
			outline: 1.5px solid transparent;
			border-radius: 2px;
		}
	}

	&.is-plugin {
		margin-bottom: 100px;
		@media screen and (max-width: 600px) {
			margin-bottom: 60px;
		}

		/* A CSS hack to grow all flexbox lines but the last one*/
		&:after {
			content: "";
			flex: 1000000000 0 100px;
			visibility: hidden;
		}
		
		img {
			width: 32px;
			height: 32px;
			border-radius: 4px;
		}
		
		.wporg-tab-item-list-item {
			border: 1px solid #dedede;
			border-radius: 4px;
			padding: 8px 12px;
			flex-grow: 1;

			&.is-active {
				border-color: var(--wp--preset--color--charcoal-1);
			}
			&:hover {
				border-color: var(--wp--preset--color--blueberry-1);
			}
		}

		.wporg-tab-item-list__item-name {
			margin: auto;
		}

		.components-checkbox-control__input-container {
			margin-right: 0;
		}
		.components-base-control__field {
			margin-bottom: 0;
		}
	}
}

html {
	margin-top: 0 !important;
}

#wpadminbar {
	display: none !important;
}

// On small screen sizes, make the
// browser UI full-screen
@media (max-width: 600px), (max-height: 700px) {
	body .is-style-browser-frame {
		border: 1px solid #dedede;
		padding: 0 !important;
	}
	body .is-style-is-browser-frame {
		padding: 0 !important;
	}
	.wporg-demo-browser {
		height: 100vh;
	}
	.wporg-demo__viewport-controls {
		border-radius: 0 !important;
	}
}

// Force-remove the extra padding from the browser frame
body .is-style-browser-frame {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.wporg-demo__viewport-controls {
	position: relative;
	background-color: #1E2327;
	min-height: 50px;
	padding: 8px;
	border-radius: 4px 4px 0 0;

	@media (max-width: 600px) {
		min-height: 40px;;
	}

	&__dots {
		position: relative;
		width: 70px;

		&:after {
			content: '';
			position: absolute;
			left: 10px;
			top: calc( 50% - 5px);
			width: 10px;
			height: 10px;
			background: #A5AFBC;
			border-radius: 50%;
			box-shadow: 20px 0 0 0 #A5AFBC, 40px 0 0 0 #A5AFBC;
		}
	}
}

.wporg-demo__viewport {
	display: flex;
	flex-grow: 1;
	border-radius: 2px;
}

.wp-block-create-block-wasm-demo 
.wporg-tab-item-list__confirm {
	@include default-font;

	height: auto;
	margin: 0 auto;
	display: block;

	background-color: var(--wp--preset--color--blueberry-1);
}

.wporg-demo-browser-preview-bar { 
	padding: 0.75rem;
	font-size: 12px;
	background: var(--wp--preset--color--blueberry-4);
}

.wporg-setup-footer {
	position: fixed;
	bottom: 0;
	left:0;

	display: flex;
    justify-content: flex-end;
	padding: 1rem;
    width: 100%;
    box-sizing: border-box;

	background-color: #fff;
	
	.wporg-tab-item-list__confirm {
		@include default-font;
		
		display: block;
		height: auto;
		font-weight: normal;
		padding: 13.5px 16px;
		background-color: var(--wp--preset--color--blueberry-1) !important;
	}
}

.wporg-setup-modal {
	@media (max-width: 600px) {
		width: 100vw;
		height: 100vh;
		max-width: 100vw;
		max-height: 100vh;
	}

	@media (min-width: 601px) {
		max-width: 943px !important;
	}

	.components-modal__header {
		.components-modal__header-heading {
			font-size: 20px;
			font-weight: 400;
		}
	}

	.wporg-setup-modal__section-title {
		@include default-font;
		margin-top: 32px;

		&:first-child {
			margin-top: 12px;
		}
	}

}

.wp-block-create-block-wasm-demo .wpsandbox-url-bar {
	position: relative;
	z-index: 1;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	min-width: 200px;
	width: 60%;
	transition: opacity 0.5s ease;
	opacity: 0;

	&__input-container {
		display: flex;
		width: 100%;
	}

	&__input {
		flex-grow: 1;
		padding: 5px 10px;

		font-family: "San Francisco", Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: 50;
		height: 26px;
		border: 0;
		background: #40464D;
		border-radius: 8px;
		color: #A5AFBC;
		transition: color 0.5s ease;

		&:focus,
		&:hover {
		  color: #FFF;
		}
	}

	&__submit {
		position: absolute;
		width: 1px;
		height: 1px;
		left: -100000px;
		top: -100000px;
	}
}

.wporg-demo-browser.is-booted .wpsandbox-url-bar {
	opacity: 1;
}
